@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fcc7e4;
}

.heart-container {
    display: flex;
    flex-wrap: wrap;
    width: 190px; /* Adjust size as needed */
    animation: pulse 2s infinite alternate; /* Adjust animation duration as needed */
}

.pixel {
    width: 20px; /* Adjust size as needed */
    height: 20px;
    background-color: #b50000; /* Pixel color */
    transition: all 1s ease;
    animation: heartAnimate 6s ease infinite;
    margin: 2px;
    border-radius: 5px;
}

.noexist{
    width: 20px; /* Adjust size as needed */
    height: 20px;
    background-color: none; /* Pixel color */
    transition: all 1s ease;
    animation: noexistAnim 6s ease infinite;
    margin: 2px;
    border-radius: 5px;
}


@keyframes heartAnimate {
    0% {
        background: #b50000;
        transform: translate(0, -24vh);
        opacity: 0;
    }
    24%, 76% {
        background: #b50000;
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        background: #b50000;
        transform: translate(0, -24vh);
        opacity: 0;
    }
}

@keyframes noexistAnim {
    0% {
        background:none;
        transform: translate(0, -24vh);
        opacity: 0;
    }
    24%, 76% {
        background: none;
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        background:none;
        transform: translate(0, -24vh);
        opacity: 0;
    }
}

#delay-1.pixel{
    animation-delay: 0.1s !important;
}
#delay-3.pixel{
    animation-delay: 0.2s !important;
}

.button-45{
  align-items: center;
  background-color: #FFE7E7;
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 11px;
  box-sizing: border-box;
  color: #b50000;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
    height: 40px;
  padding: 2px 12px;
  text-align: left;
  text-decoration: none !important;
  text-shadow: none;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;

}


.button-45:active,
.button-45:hover,
.button-45:focus {
  outline: 0;
}


.button-45:active {
  background-color: #b50000;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.button-45:hover {
  background-color: #FFE3E3;
  border-color: #FAA4A4;
}

.button-45:active:hover,
.button-45:focus:hover,
.button-45:focus {
  background-color: #b50000;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.valentine{
    color: rgb(182, 0, 33);
    font-size: 30px;
    font-weight: 700;
    font-family: "Protest Revolution", sans-serif;
}
